<!-- para instalar primeng 
npm install primeng primeicons -->

<!-- <div class="text-layout">
<h1 class="h1">
  {{nombre | uppercase}}
</h1>

<button 
  (click)="mostrarNombre()"
  pButton
  icon="pi pi-check"
  iconPos="right"
  label="Cambiar Nombre"
  class="p-button-help p-button-sm"
  
  >
  
</button>

<p-card [header]="nombre | titlecase"
        [subheader]="profesion | titlecase">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempore autem corrupti totam? Dolor quasi tempore impedit reiciendis soluta et ratione incidunt, quas atque quis facilis maxime obcaecati eos rem.
</p-card>

</div> -->

<app-menu></app-menu>
<!-- router oulet viene del router module -->
<router-outlet></router-outlet>
